.container-steps
  .content
    .state
      .sign.ok
      .section
        1. Calculate price
      .sign.ok
      .section
        = link_to '2. Casting authors. Paper details', step_two_path(@order.public_id), :class => 'back'
      .sign
      .section.active
        3. Payment
    .body
      .third-block
        -if !user_signed_in?
          .nested
            .title Sign up or log in
            .note
              If you don’t have an account
              %br it will be created automatically.
            = form_for @user, url: registration_or_login_path, html: { id: 'sign_up_form'} do |f|
              .errors-form.hidden
                %span.close-errors X
              = f.email_field :email, autofocus: true, class: 'sign-btn email-sign-up', placeholder: 'Email'
              = f.password_field :password, class: 'sign-btn password-sign-up', placeholder: 'Password'
              = f.submit 'Sign Up', :class => 'checkout-btn login hidden', :id => 'sign-up-button'
            .or
              .word or
            = link_to 'Use Facebook To Sign In', user_omniauth_authorize_path(:facebook), :class => 'facebook-btn login'
          .border
        .nested{:class => "#{'signed' if user_signed_in?}"}
          .title Your Order Details
          .topic
            -if @order.topic.nil?
              = 'No title'
            -else
              = @order.topic
          .short-info
            %div
              #{@order.discipline}, #{@order.type_of_paper}
            %div
              = pluralize(@order.pages, 'page')
            %div
              Deadline: #{@order.get_deadline[0]+' '+@order.get_deadline[1]}
          .price
            Total price: $#{@order.price}
          -if user_signed_in?
            = link_to 'Go To Checkout', express_checkout_path(@order), :class => 'checkout-btn checkout'
          -else
            = link_to 'Go To Checkout', '#', :class => 'checkout-btn checkout', :id => 'paypal-authorization'
          .accept
            We accept payment via
            = image_tag 'paypal-logo.png', :class => 'logo-paypal'
